body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, #314755, #26a0da);
}
.box {
    border: solid 1px #000;

    width:  20vmin;
    height:  20vmin;
    border-radius: 0.5rem;
    background: linear-gradient(to right, #799f0c, #acbb78);
    animation: transform 10s linear  infinite normal;
}
@media only screen and (max-width: 800px) {
    .box{
        border-radius: 6px;
    }
}
@media only screen and (max-width: 400px) {
    .box{
        border-radius: 2px;
    }
}
@media only screen and (max-height: 300px)  {
    .box{
        border-radius: 2px;
    }
}

@media only screen and  (max-height: 600px)  {
    .box{
        border-radius: 2px;
    }
}
@keyframes transform {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}